@use "../abstract/variables" as *;

/* adjust trending text position layering*/
.swiper-wrapper {
	background: transparent;
	font-family: $font-family_1;
	font-size: 14px;
	color: $color_1;
	margin: 0;
	padding: 0;
}
.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.carousel-content-image-wrapper {
	position: relative;
}
.gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40% ), linear-gradient( to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40% );
}
.carousel-content-wrapper {
	position: relative;
	h2 {
		font-size: 1.2rem;
		text-align: left;
		margin: 0;
		width: 80%;
	}
	p {
		margin: 0;
	}
}
.carousel-content {
	color: $color_2;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: left;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.carousel-content-details-wrapper {
	position: absolute;
	color: $color_2;
	text-align: left;
	bottom: -4rem;
	left: -7rem;
	font-size: 0.8rem;
	margin-bottom: 1rem;
	p {
		margin: 0;
		width: 200px;
	}
}
.carousel-content-details {
	color: $color_2;
	text-align: left;
	display: flex;
	font-size: 0.8rem;
	gap: 1rem;
}
.carousel-info-button {
	background-color: $background-color_1;
	color: $color_2;
	font-size: 0.7rem;
	padding: 0.5rem;
	border-radius: 25px;
	align-self: self-start;
}
.carousel-2-swiper-slide {
	width: 95%;
	margin: 0 auto;
	article {
		img {
			width: 100%;
			border-radius: 15px 15px 0 0;
		}
	}
}
.carousel-2-swiper-slide-content {
	background-color: $background-color_1;
	color: $color_2;
	border-radius: 15px;
	position: relative;
	.rating-circle {
		position: absolute;
		top: 2%;
		right: 2%;
		width: 70px;
		height: 70px;
		background-color: $background-color_2;
		border-radius: 50%;
	}
}
.carousel-2-swiper-slide-title {
	text-align: left;
	padding-left: 20px;
	font-size: 0.8rem;
}
@media screen and (min-width: 1400px) {
	.hero-section-carousel {
		height: 80vh;
	}
}
@media screen and (min-width: 450px) and (max-width: 700px) {
	.carousel-content {
		position: absolute;
		bottom: 3rem;
	}
}
@media screen and (min-width: 700px) {
	.carousel-content {
		position: absolute;
		bottom: 10%;
	}
}
@media screen and (min-width: 600px) {
	.carousel-content {
		h2 {
			font-size: 1.5rem;
			top: -6rem;
		}
	}
	.carousel-content-details-wrapper {
		bottom: -1rem;
		font-size: 1rem;
	}
}
@media screen and (min-width: 420px) {
	.carousel-2-swiper-slide-title {
		font-size: 1rem;
	}
}
