@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../abstract/animations" as *;

footer {
    position: relative;
    bottom: 0;
    background-color:#646cff;
    p{
        margin-bottom: 0;
        padding-left: 2rem;
    }
}
