@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../abstract/animations" as *;


.main-header {
    top: 3%;
    z-index: 9999;
    height: $header-item-height;
    background-color: black;

    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: $header-item-height;

        .logo {
            width: 50px;
            min-width: 50px;
            align-items: center;
        }

        .search-bar {
            background-color: rgba(0, 0, 0, 0.384);
            padding: 10px 30px;
            border: 1px solid whitesmoke;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 35px;
            box-sizing: border-box;
            position: relative;
            margin: 0 5px;
        
            .search-bar-input {
                @include remove-default-styling;
            }
        
            .search-button {
                @include remove-default-styling;
                position: absolute;
                right: 8%;
                width: 20px;
                min-width: 20px;
            }
        }

        .main-nav {
            border: 1px solid white;
            z-index: 9999;
            background-color: white;

            ul {
                @include remove-default-styling;
                list-style: none;
            }

            .dropdown {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .trailr-btn {
                    @include remove-default-styling;
                    margin-bottom: 5px;
                    font-size: 1.4em;
                }

                .down-arrow {
                    @include remove-default-styling;
                    transition: background-color 0.2s ease-in-out;
                    padding: 0 15px;
                    border-radius: 3px;

                    img {
                        width: 25px;
                    }
                }

                .down-arrow:hover {
                    background-color: whitesmoke;
                }
            }

            .sub-menu {
                position: absolute;
                height: 0;
                transition: height 0.3s ease-in-out;
                overflow: hidden;
            }
        }
    }
}

.suggestions-list {
    position: absolute;
    top: 100%;
    margin: 0 auto;
    max-width: 300px;
    transition: height 0.3 ease-in-out
}

.suggested-movie {
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.3em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
    overflow: hidden;
}

.suggested-movie:hover {
    border-color: #646cff;
}