@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/animations" as *;


.movie-item {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.favorite-button {
    @include fav-btn;
}