@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/animations" as *;

.genre-filters {
  position: absolute;
  top: 15%;
  left: 10%;
  label {
    display: flex;
    align-items: center;
    padding: 10px;
    input {
      margin-right: 8px;
    }
  }
}

h1 {
  padding-top: 5%;
}


