@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/animations" as *;

.dev-panel-frames {
    @include dev-panel(5%, 10%)
}

.dev-panel-input {
    @include dev-panel(50%, 10%)
}

// Frames
.frameA {
    @include absolute-center;
    top: 30%;

    .frameA-wrapper {
        position: relative;

        .frame-blocker {
            @include frame-blocker();
        }
    }
}

.frameB {
    @include absolute-center;
    top: 30%;

    .frameB-wrapper {
        position: relative;

        .frame-blocker {
            @include frame-blocker();
        }
    }
}

// Animations
.alive {
    animation-name: revive;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.dead {
    animation-name: kill;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.trailr-input {
    @include absolute-center;
    top: 70%;
    width: 630px;
}