@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.frameA {
    position: absolute;
    bottom: 0;
    right: 0;

    .frameA-wrapper {
        position: relative;

        .frame-blocker {
            @include frame-blocker(rgba(0, 128, 0, 0.75));
        }
    }
}

.frameB {
    position: absolute;
    top: 0;
    left: 0;

    .frameB-wrapper {
        position: relative;

        .frame-blocker {
            @include frame-blocker(rgba(255, 0, 0, 0.75));
        }
    }
}