@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.random-movie-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 500px;
}

.random-movie-details .frame {
    /* width: 650px;
    height: 365px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.random-movie-details .countdown {
    width: 690px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translateX(-50%) translateY(-50%);
}

.random-movie-details h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.random-movie-details .title-blocker {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 99;
}