@use "variables" as *;
@use "mixins" as *;

// Trailr frame switch animation
// Using top instead of transform since transform hides the content of the dead div
@keyframes revive {
    0% {
        top: -40%;
    }

    50% {
        top: 15%;
    }

    100% {
        top: 15%;
    }
}

@keyframes kill {
    0% {
        top: 15%;
    }

    13% {
        top: 15%;
    }

    100% {
        top: 100%;
    }
}