@use "variables" as *;


@mixin fav-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

@mixin frame-blocker() {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
}

@mixin absolute-center(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}