// Variables
$header-item-height: 50px;


// Trailr frame switch animation
// Using top instead of transform since transform hides the content of the dead div
@keyframes revive {
    0% {
        top: -40%;
    }

    50% {
        top: 30%;
    }

    100% {
        top: 30%;
    }
}

@keyframes kill {
    0% {
        top: 30%;
    }

    13% {
        top: 30%;
    }

    100% {
        top: 100%;
    }
}

$color_1: #000;
$color_2: white;
$font-family_1: Helvetica Neue, Helvetica, Arial, sans-serif;
$background-color_1: #646cff;
$background-color_2: #000;

// TRAILR FRAME SIZES
$xtra: 45vw;
$large: 55vw;
$medium: 75vw;
$small: 95vw;

// TRAILR PLAYER BOX SIZES
$playerBoxHeight: 50px;

//TRAILR POSITIONS
$finalPos: 20%;